{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "^(dotenv/config|winston-daily-rotate-file)",
    "<THIRD_PARTY_MODULES>",
    "^(const|controllers|middleware|routes|services|types|utils)",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
